*,*::before,*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family:"Source Sans 3",sans-serif;
    font-optical-sizing:auto;
    background-color:#3D3B42;
    font-size: 1em;
}
.container{
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content:center;
}
.consolecontainer {
  align-items: center;
    display:flex;
    flex-direction: column;
    height: 100%;
    margin-top:8em;
}
.consolescreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;
    width:50vh;
    border-width:3vh;
    border-style: outset;
    border-color: #d3d3d3;
    background: radial-gradient(ellipse at bottom, #0000, transparent),
                radial-gradient(ellipse at top, #064721, transparent);
}
.helloworld{
    display:flex;
    color: #66FF66;
    font-family: "Handjet", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
}
.terminalcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
div.blinker {
    display: inline-block;
    background: #111;
    margin-left: 1px;
  
    -webkit-animation: blink 2s linear 0s infinite;
    -moz-animation: blink 2s linear 0s infinite;
    -ms-animation: blink 2s linear 0s infinite;
    -o-animation: blink 2s linear 0s infinite;
}
@-webkit-keyframes blink {
    0%   { background: #0a0 }
    47%  { background: #090 }
    50%  { background: #000 }
    97%  { background: #000 }
    100% { background: #090 }
  }
  
  @-moz-keyframes blink {
    0%   { background: #0a0 }
    47%  { background: #090 }
    50%  { background: #000 }
    97%  { background: #000 }
    100% { background: #090 }
  }
  
  @-ms-keyframes blink {
    0%   { background: #0a0 }
    47%  { background: #090 }
    50%  { background: #000 }
    97%  { background: #000 }
    100% { background: #090 }
  }
  
  @-o-keyframes blink {
    0%   { background: #0a0 }
    47%  { background: #090 }
    50%  { background: #000 }
    97%  { background: #000 }
    100% { background: #090 }
  }
.ytvid {
    border: color #746875;
    border: 1em;
    padding: 1em;
    margin-left:2em;
    display:flex;
    justify-content: center;

}
.ytvidgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.quotecontainer {
    align-self: flex-start;
    background-color: white;
    margin: 0 8vw 8vw;
    padding: 2vw;
    color: black;
    border: none;
    border-radius: 0.8em;
    text-align: center;

  }
.quote {
    font-style: italic;
}
.author {
    font-style: unset;
}
a{
    color:#f1daf1
}
a :hover{
    color:#aed3fd
}
a :visited{
    color:#e8bae8
}
p{
    padding:1em;
    font-size:1.5em
}

.linklist {
    margin-top:1em;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    list-style: none;
}
.linkitems {

    height: 15vh; 
    padding: 5vh;
    background-color: whitesmoke;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius:.2rem;
    overflow-wrap: break-word;
    color: #3D3B42;
    font-style: none;
    text-align: center;

}

.linkitems:hover{
    background-color: rgb(102, 99, 99);
    color: whitesmoke;
}
.linkitems:focus{
    background-color: #2c2a2a;
    color:whitesmoke;
}
.tutlist{
    margin-top:1em;
    margin-bottom:1em;
}
#maincontent{
    display:flex;
    height:100%;
    flex-direction: column;
    width:90vw;
    background-color:#423B42;
    color:#fff;
    font-family:sans-serif;
    padding:3em;
    margin-top:7rem;
    padding:3rem;
    margin-left:auto;
    margin-right:auto
}
.class {
    font-size:2em;
}
#welcome {
    display:flex;
    flex-direction: column;
}

.navbar{
    z-index:1000;
    top:0;
    left:0;
    position:fixed;
    background-color:#000;
    color:#f5f5f5;
    width:100vw;
    box-shadow:0 0 10px #d3d3d3
}
.navbar_list{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:2rem;
    margin:0 2rem
}
.navbar_list_logo{
    list-style:none;
    margin-right:auto;
}
#logo {
    cursor:pointer;
}
#biggercontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar_list_logo svg{
    width:5rem;
    transition:fill 250ms ease-in
}
.navbar_list_logo:hover,.navbar_list_logofocus{
    fill:blue
}
.navbar_list_course{
    list-style:none;
    margin-right:auto;
    cursor:pointer;
    font-size:1.5em;
}
.navbar_list_course svg{
    width:5rem;
    transition:fill 250ms ease-in
}
.navbar_list_course:hover,.navbar_list_coursefocus{
    fill:blue
}
.navbar_list_item{
    list-style:none;
    font-weight:bold;
    position:relative;
    padding:1.5rem 1rem;
    cursor:pointer
}
.navbar_list_item::after{
    content:"";
    width:0;
    height:.3em;
    border-radius:.2rem;
    position:absolute;
    left:1rem;
    bottom:.8rem;
    background-color:blue;
    transition:width 200ms ease-in
}
.navbar_list_item:hover::after,.navbar_list_item:focus::after{
    width:80%
}
.navbar_list_item:hover ul,.navbar_list_item:focus ul{
    visibility:visible;
    opacity:1
}
.navbar_list_item_drop{
    position:absolute;
    top:4rem;
    left:-1rem;
    box-shadow:0 0 10px gray;
    background-color:#746875;
    border-radius:.2rem;
    width:12rem;
    padding:1rem;
    flex-direction:column;
    gap:.5rem;
    opacity:0;
    visibility:hidden;
    transition:opacity 200ms ease-in-out
}
.navbar_list_item_drop li{
    list-style:none;
    padding:.5rem 1rem;
    border-radius:.2rem;
    transition:background-color 200ms ease-in-out
}
.navbar_list_item_drop li:hover,.navbar_list_item_drop li:focus{
    background-color:#8D7F8F;
}
/*# sourceMappingURL=style.css.map */
.pc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 25vh;
    width:50vw;
    border-width:0.5vh;
    border-style: outset;
    border-color: #d3d3d3;
    background: radial-gradient(ellipse at bottom, #4e494900, transparent),
                radial-gradient(ellipse at top, #edf1ef, transparent);
}
.buttons {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vh
}
.powerbutton {
  padding: .5vh;
  display: flex;
  height: 6vh;
  width: 6vh;
  background-color: red;
  flex-grow:
}
.barsbycomputers {

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 4em;
  font-style: normal;
  padding-right: 10px;
}